<!DOCTYPE html>
<html>
<head>
    @{
        Factory.Usuario usuario = (Factory.Usuario)Session["usuario"];
        bool esSesionIniciada = false;
        string url = "https://localhost:44362/";
        string msg = "";
        string error = "";
        if (usuario!=null)
        {
            esSesionIniciada = true;
        }
        if (TempData["msg"] != null)
        {
            msg = TempData["msg"].ToString();
        }
        if(TempData["error"]!=null)
        {
            error = TempData["error"].ToString();
        }
    }
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/plantilla.css" />
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/jquery-ui")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Scripts/alertifyjs/css/alertify.css">
    <link rel="stylesheet" href="~/Scripts/alertifyjs/css/alertify.min.css">
    <link rel="stylesheet" href="~/Scripts/alertifyjs/css/alertify.rtl.css">
    <link rel="stylesheet" href="~/Scripts/alertifyjs/css/alertify.rtl.min.css">
    <script type="text/javascript" src="~/Scripts/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="~/Scripts/alertifyjs/alertify.min.js"></script>
   

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="        background-color: #0f4c75; color:white;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("pruebaQuantum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Inventario", "Index", "Productos")</li>
                    <li>@Html.ActionLink("Facturacion", "Index", "Facturas")</li>




                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    @if (!esSesionIniciada)
                    {
                        <li><a href="#" id="IniciarSesion">Inniciar sesion</a> </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <input type="hidden" id="esSesionIniciada" value="@esSesionIniciada.ToString().ToLower()" />
        @RenderBody()
        <hr />
        <footer>
            @if( esSesionIniciada)
            {
            <div style="width :500px">
                <div class="card">
                    <div class=" header">Informacion de sesion</div>
                    <div class="body">
                        <form action="~/Usuarios/logout" method="post" onsubmit="return validar();">
                            <p><b> @Html.DisplayNameFor(model => usuario.Identificacion):</b>  @Html.DisplayFor(modelItem => usuario.Identificacion)               </p>
                            <p><b> @Html.DisplayNameFor(model => usuario.NombreCompleto):</b>  @Html.DisplayFor(modelItem => usuario.NombreCompleto)               </p>
                            <p><b> @Html.DisplayNameFor(model => usuario.NombreUsuario):</b>  @Html.DisplayFor(modelItem => usuario.NombreUsuario)               </p>
                            <p><b> @Html.DisplayNameFor(model => usuario.Perfil.Nombre):</b>  @Html.DisplayFor(modelItem => usuario.Perfil.Nombre)               </p>
                            <div >
                                <input type="submit" class="button" value=" Cerrar sesion" style="width :100%" />
                            </div>
                        </form>
                    </div>
                </div>
                
                </div>
                }
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
</footer>
    </div>
    <div id="InicioSesion" style="display:none">
        <div class="form-group ">
            <label class="control-label" >Usuario </label>
            <input class="form-control " type="text" id="usuario" />
        </div>
        <div class="form-group ">
            <label class=" control-label " >Contraseña </label>
            <input class=" form-control " type="password" id="contraseña" />
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        <script type="text/javascript">
            
        var error = "@error";
        var msg = "@msg";
        if (msg != "") {
            alertify.success(msg);
        }
        if (error != "") {
            alertify.error(error);
        }
        $("#IniciarSesion").click(function () {
            $("#InicioSesion").dialog('open');
        })
        $("#InicioSesion").dialog({
            autoOpen: false,
            height: 400,
            width: 500,
            buttons: {
                "Iniciar sesion": function () { iniciarSesion(); },
                "Cerrar": function () {  $(this).dialog("close") },


            },
            modal: true
        });
    function validar() {
        var valida = false
        resp = confirm("Desea cerrar la sesion?")
        if (resp) {
            valida = true;
        }
        return valida;
    }
        function iniciarSesion()
        {
            var usuario = $("#usuario").val();
            var contraseña = $("#contraseña").val();
            if (usuario == "") {
                alertify.error('Campo invalido');
                return;
            }
            if (contraseña == "") {
                alertify.error('Campo invalido');
                return;
            }
            $.ajax({
                data: { user: usuario, contraseña:contraseña },
                    dataType: 'json',
                    type: "GET",
                url: "https://localhost:44362/usuarios/login"
                }).done(function (data, textStatus, jqXHR) {
                    var enconded = JSON.stringify(data);
                    console.log("estado :", textStatus);

                    alertify.success("Has iniciado sesion como "+data.NombreUsuario )
                    console.log("La solicitud se ha completado correctamente.", enconded);
                    location.reload();

                    $("#InicioSesion").dialog("close");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    //$("#dialog").dialog("open");
                    error = jqXHR.
                    alertify.error("Ha ocurrido ur error en la solucitud consulte la consola de su sunaegador para mas detalles");
                    console.log("La solicitud a fallado: ", textStatus);
                    console.log(error);
                    console.log(jqXHR);
                });
        }
        </script>
        @RenderSection("scripts", required: false)
</body>
</html>
