@model Factory.Producto


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorVentaConIva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorVentaConIva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadUnidadesInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadUnidadesInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorentaSinIVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorentaSinIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeIVAAplicado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeIVAAplicado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

