@model IEnumerable<Factory.Perfil>

@{
    ViewBag.Title = "listado de perfiles";
}
<div style="padding-bottom:20px">
    @Html.ActionLink("Crear perfiles", "Create",null,htmlAttributes:new { @class = "button" })
</div>
@if (Model != null)
{
<div class="card">
    <div class="header ">@ViewBag.Title</div>
    <div class="body" style=" overflow:scroll ">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>      
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "buttonCol" }) 
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
}