@model Factory.FacturaEncabezado

@{
    ViewBag.Title = "Facturar compra";
    string url = ViewBag.url;
    List<Factory.FacturaDetalle> detalles = ViewBag.detalles;
    decimal totalpagar = ViewBag.totalPagar;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Encabezado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Identificacion cliente</label>
            <div class="col-md-10">
                <input type="text" id="identificacion" class=" form-control" />
                <button id="btnBuscar" class="btn btn-default">Buscar cliente</button>
                <input type="hidden" id="cadena" name="cadena" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FechaVenta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaVenta, new { htmlAttributes = new { @type = "datetime", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaVenta, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FechaEnvio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaEnvio, new { htmlAttributes = new { @type = "datetime", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaEnvio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <h4> detalle</h4>
    <table class="table">
        <tr>
            <th>cantidad</th>
            <th> producto </th>
            <th>  valor Unitario </th>
            <th> total  </th>
        </tr>
        <tbody>
            @foreach (var item in detalles)
            {
                <tr>
                    <td>@item.cantidad  </td>
                    <td>@item.producto.Nombre </td>
                    <td>@item.ValorUnitarioIva   </td>
                    <td>@item.totalIva  </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <label>total a pagar :</label>@totalpagar
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div id="dialog" style=" display:none ;padding :30px">
    <form>
        <div class="form-group">
            <label> Nombre</label>
            <input class="form-control" type="text" id="nombre" style=" width:100%" />
        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" id="apellido" style=" width:100%" />
        </div>
        <div class="form-group">
            <label> Direccion </label>
            <input type="text" id="direccion" class="form-control" style=" width:100%" />
        </div>
        <div class="form-group">
            <label >Telefono</label>
            <input type="text" class="form-control" id="telefono" style=" width:100%" />
        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $('input[type=datetime]').datepicker({
        dateFormat: "dd/MM/yy",
        changeMonth: true,
        changeYear: true,
        yearRange: "-60:+0"
    });
    function guardar() {
        identificacion = $("#identificacion").val()
        nombre = $("#nombre").val()
        apellido = $("#apellido").val()
        direccion = $("#direccion").val()
        telefono = $("#telefono").val()
        if (identificacion == "") {
            alertify.error("campo invalido");
            return;
        }
        if (nombre == "") {
            alertify.error("camppo invalido");
            return;
        }
        if (apellido == "") {
            alertify.error("campo invalido");
            return;
        }
        if (direccion == "") {
            alertify.error("campo invalido");
            return;
        }
        if (telefono == "") {
            alertify.error("campo invalido");
            return;
        }
        $.ajax({
            data: { identificacion: identificacion, nombre: nombre, apellido: apellido, direccion: direccion, telefono: telefono },
            dataType: 'json',
            type: "POST",
            url: "@url/Clientes"
        }).done(function (data, textStatus, jqXHR) {
            var enconded = JSON.stringify(data);
            console.log("estado :", textStatus);
            $("#cadena").val(enconded)
            alertify.success("el registro seha insertado con exito")
            console.log("La solicitud se ha completado correctamente.", enconded);
            $("#dialog").dialog("close");
        }).fail(function (jqXHR, textStatus, errorThrown) {
            $("#dialog").dialog("open")
            console.log("La solicitud a fallado: ", textStatus);
        });

    }
    $("#dialog").dialog({
        autoOpen: false,
        height: 460,
        width: 350,
        buttons: {
            "Guardar": function () { guardar() },
            "Cerrar": function () {  $(this).dialog("close") },


        },
        modal: true
    });

    $("#btnBuscar").click(function () {
        var identificacion = $("#identificacion").val();
        if (identificacion == "") {
            alertify.error("este campo no puede ser vacio");
            return;
        }
        $.ajax({
            data: { identificacion: identificacion },
            dataType: 'json',
            type: "GET",
            url:  "@url/Clientes"
        }).done(function (data, textStatus, jqXHR) {
            if (data == null) {
                $("#cadena").val("");
                $("#dialog").dialog("open");
            }
            else
            {
                console.log("estado :", textStatus);
                console.log("estado :", textStatus);
                var enconded = JSON.stringify(data);
                $("#cadena").val(enconded);
                alertify.success("se ha encontrado un cliente");
                console.log("La solicitud se ha completado correctamente.", enconded);
                console.log("La solicitud se ha completado correctamente.", data);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            $("#cadena").val("");
            $("#dialog").dialog("open");
            console.log("La solicitud a fallado: ", textStatus);
        });
    })
</script>
}
